# Google Gemini API Key
# Obtenha em: https://aistudio.google.com/app/apikey
VITE_GEMINI_API_KEY=""

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyAsx_SBWcINH7DrJ6ExTJhCi-E3HTzYpzQ"
VITE_FIREBASE_AUTH_DOMAIN="simpsifica.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="simpsifica"
VITE_FIREBASE_STORAGE_BUCKET="simpsifica.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="818632391464"
VITE_FIREBASE_APP_ID="1:818632391464:web:7c9598de653fa146c2ee1d"
VITE_FIREBASE_MEASUREMENT_ID=""
VITE_FIREBASE_FIRESTORE_DATABASE_ID="(default)"
